<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pitaj me</title>

  <!--<base href="/">-->
  <!-- Bootstrap Core CSS-->
  <link href="css/2-basics/bootstrap.min.css" rel="stylesheet"/>
  <!-- Favicon-->
  <link rel="shortcut icon" href="favicon.ico"/>
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css"/>
  <!--FontAwesome  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <!--Emoticons-->
  <link rel="stylesheet" href="css/jquery.cssemoticons.css"/>
  <link rel="stylesheet" href="css/ng-emoticons.css"/>

</head>
<body ng-app="app" id="">
<div ng-controller="MainCtrl">
  <div class="" id="{{profile.class}}">
    <header>
      <div class="row">
        <div class="container">
          <div id="main-nav" role="navigation" class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a ui-sref="home" class="navbar-brand"><img src="img/logo.png" alt="Logo" class="img-responsive"/></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="home">Homepage</a></li>
                <li ui-sref-active="active"><a ui-sref="ask-question">Ask Question</a></li>
                <li ng-if="isAuth()" ui-sref-active="active"><a ui-sref="user({id: currentID()})" >Profile page</a></li>
                <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">User Help <span class="caret"></span></a>
                  <ul role="menu" class="dropdown-menu">
                    <li ng-show="!isAuth()"><a href="/#/login">Login</a></li>
                    <li ng-show="isAuth()"><a href="/#/login" ng-click="logout()">Logout</a></li>
                    <li><a href="/#/registration">Registration</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">More options</li>
                    <li><a href="/#/forgot-password">Forgot password</a></li>
                    <li ng-show="isAuth() && isAdmin()"><a href="/admin?access_token={{getAT()}}">Admin panel</a></li>

                  </ul>
                </li>
                <!--<li>
                  <form action="" class="navbar-form navbar-right search-form">
                    <div class="form-group has-feedback">
                      <label for="search" class="sr-only">Search</label>
                      <input id="search" type="text" name="search" placeholder="Search" class="form-control"/><span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </form>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container askQuestion" data-ng-show="$state.includes('home') && isAuth()" style="padding: 0px;">
        <div class="row">
          <div class="col-md-8 col-md-push-2">
            <div class="row" >
              <div class="col-md-12">
                <div class="quick-post">
                  <form role="form" class="form-signin">
                    <div class="row">
                      <div class="form-group col-md-8">
                        <label for="title">Question title</label>
                        <input id ="title" type="text" placeholder="Question title" required="required" class="form-control" ng-model="question.title"/>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="category">Choose category:</label>
                        <select class="form-control" name="category" id="category" required="required" ng-model="question.category" ng-options="category.name for category in categories">
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="topic-content">Question content</label>
                        <textarea id="topic-content" placeholder="Enter Question content" rows="2" required="required" class="form-control" ng-model="question.text"></textarea>
                      </div>
                      <div class="form-group col-md-12 input-group" style="padding: 0 15px;">
                        <span class="input-group-addon" id="attachment"><i class="fa fa-paperclip"></i></span>
                        <input id="image-url" placeholder="Insert Image URL" type="text" class="form-control" ng-model="question.image" aria-describedby="attachment"
                               data-toggle="popover" data-placement="bottom" data-content="Image URL is invalid. Check your URL and try again."/>
                      </div>
                    </div>
                    <div>
                      <label class="opinion"><input type="radio" name="opinionFrom" value="1" ng-model="question.opinionFrom"/> Male</label>
                      <label class="opinion"><input type="radio" name="opinionFrom" value="2" ng-model="question.opinionFrom"/> Female</label>
                      <label class="opinion"><input type="radio" name="opinionFrom" value="3" ng-model="question.opinionFrom"/> Both</label>
                    </div>
                    <div class="form-bottom">
                      <label class="checkbox">
                        <input ng-model="question.isAnonymous" type="checkbox"/> Ask Question as Anonymous
                      </label>
                      <button type="submit" class="btn-red" ng-click="sendQuestion(question)">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div ui-view></div>
  </div>
</div>


<script src="js/timeago.js"></script>
<script src="vendor/jquery/dist/jquery.js"></script>

<!--Emoticons-->
<script src="js/jquery.cssemoticons.js"></script>

<script src="js/functions.js" type="text/javascript"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/functions.js" type="text/javascript"></script>



<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="vendor/angular-sanitize.js"></script>
<script src="js/ng-emoticons.js"></script>

<script src="vendor/angular-resource/angular-resource.js"></script>
<script src="vendor/angular-animate/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<!--<script src="vendor/angular-isotope/angular-isotope.js"></script>-->


<script src="js/services/lb-services.js"></script>
<script src="js/app.js"></script>
<script src="js/services/countryService.js"></script>
<script src="js/services/AppAuth.js"></script>
<script src="js/services/dateServices.js"></script>
<script src="js/services/detailsService.js"></script>
<script src="js/controllers/MainCtrl.js"></script>
<script src="js/controllers/HomeCtrl.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>
<script src="js/controllers/QuestionCtrl.js"></script>
<script src="js/controllers/CategoryCtrl.js"></script>
<script src="js/controllers/RegistrationCtrl.js"></script>
<script src="js/controllers/ProfileCtrl.js"></script>
<script src="js/controllers/UserCtrl.js"></script>
<script src="js/controllers/AskQuestion.js"></script>
<script src="js/controllers/EditProfileCtrl.js"></script>
<script src="js/controllers/ForgotPassCtrl.js"></script>
<script src="js/controllers/ResetPassCtrl.js"></script>
<script src="js/controllers/SidebarCtrl.js"></script>

</body>
</html>
