<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pitaj me</title>

  <base href="/">
  <!-- Bootstrap Core CSS-->
  <link href="css/2-basics/bootstrap.min.css" rel="stylesheet"/>
  <!-- Favicon-->
  <link rel="shortcut icon" href="favicon.ico"/>
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css"/>
  <!--FontAwesome  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <!--Emoticons-->
  <link rel="stylesheet" href="css/jquery.cssemoticons.css"/>
  <link rel="stylesheet" href="css/ng-emoticons.css"/>

</head>
<body ng-app="app" id="">
<div ng-controller="MainCtrl">
  <div class="" id="{{profile.class}}">
    <header>
      <div class="row">
        <div class="container">
          <div id="main-nav" role="navigation" class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand"><img src="img/logo.png" alt="Logo" class="img-responsive"/></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a href="/" >Homepage</a></li>

                <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">User Help <span class="caret"></span></a>
                  <ul role="menu" class="dropdown-menu">
                    <li ng-show="!isAuth()"><a href="/#/login">Login</a></li>
                    <li ng-show="isAuth()"><a href="/#/login" ng-click="logout()">Logout</a></li>
                    <li><a href="/#/registration">Registration</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">More options</li>
                    <li><a href="/forgot-password">Forgot password</a></li>
                  </ul>
                </li>
                <!--<li>
                  <form action="" class="navbar-form navbar-right search-form">
                    <div class="form-group has-feedback">
                      <label for="search" class="sr-only">Search</label>
                      <input id="search" type="text" name="search" placeholder="Search" class="form-control"/><span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </form>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container askQuestion" data-ng-show="$state.includes('home') && isAuth()" style="padding: 0;">
        <div class="row">
          <div class="col-md-8 col-md-push-2">
            <div class="row" >
              <div class="col-md-12">
                <div class="quick-post">
                  <form role="form" class="form-signin">
                    <div class="row">
                      <div class="form-group col-md-8">
                        <label for="title">Question title</label>
                        <input id ="title" type="text" placeholder="Question title" required="required" class="form-control" ng-model="question.title"/>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="category">Choose category:</label>
                        <select class="form-control" name="category" id="category" required="required" ng-model="question.category" ng-options="category.name for category in categories">
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="topic-content">Question content</label>
                        <textarea id="topic-content" placeholder="Enter Question content" rows="2" required="required" class="form-control" ng-model="question.text"></textarea>
                      </div>
                      <div class="form-group col-md-12 input-group" style="padding: 0 15px;">
                        <span class="input-group-addon" id="attachment"><i class="fa fa-paperclip"></i></span>
                        <input id="image-url" placeholder="Insert Image URL" type="text" class="form-control" ng-model="question.image" aria-describedby="attachment"
                               data-toggle="popover" data-placement="bottom" data-content="Image URL is invalid. Check your URL and try again."/>
                      </div>
                    </div>
                    <div>
                      <label class="opinion"><input type="radio" name="opinionFrom" value="1" ng-model="question.opinionFrom"/> Male</label>
                      <label class="opinion"><input type="radio" name="opinionFrom" value="2" ng-model="question.opinionFrom"/> Female</label>
                      <label class="opinion"><input type="radio" name="opinionFrom" value="3" ng-model="question.opinionFrom"/> Both</label>
                    </div>
                    <div class="form-bottom">
                      <label class="checkbox">
                        <input ng-model="question.isAnonymous" type="checkbox"/> Ask Question as Anonymous
                      </label>
                      <button type="submit" class="btn-red" ng-click="sendQuestion(question)">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container" ng-controller="AdminCtrl">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row">
              <!-- TABS START-->
              <div class="profile-tabs tabs">
                <ul role="tablist" class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="" data-target="#profile-tab-articles" aria-controls="profile-tab-articles" role="tab" data-toggle="tab">Članci</a></li>
                  <li role="presentation"><a href="" data-target="#profile-tab-pitanja" aria-controls="profile-tab-pitanja" role="tab" data-toggle="tab">Pitanja</a></li>
                  <li role="presentation"><a href="" data-target="#profile-tab-odgovori" aria-controls="profile-tab-odgovori" role="tab" data-toggle="tab">Odgovori</a></li>
                  <li role="presentation"><a href="" data-target="#profile-tab-komentari" aria-controls="profile-tab-komentari" role="tab" data-toggle="tab">Komentari</a></li>
                  <li role="presentation"><a href="" data-target="#profile-tab-kategorije" aria-controls="profile-tab-kategorije" role="tab" data-toggle="tab">Kategorije</a></li>
                  <li role="presentation"><a href="" data-target="#profile-tab-korisnici" aria-controls="profile-tab-korisnici" role="tab" data-toggle="tab">Korisnici</a></li>
                </ul>
              </div>
              <!-- TABS END -->

              <div class="tab-content">


                <!-- ARTICLES TAB -->
                <div role="tabpanel" id="profile-tab-articles" class="tab-pane active">

                  <!-- ADD ARTICLE -->
                  <div class="container" style="margin-top: 3%;">
                    <div class="row">
                      <button class="btn-primary" type="button" data-toggle="collapse" data-target="#addArticle" aria-expanded="false" aria-controls="addArticle">
                        <i class="fa fa-plus"></i> Dodaj članak
                      </button>
                    </div>
                  </div>


                  <div class="collapse" id="addArticle">
                    <div class="content well">
                      <div class="" style="padding: 0;">
                        <div class="row">
                          <div class="col-md-8 col-md-push-2">
                            <div class="row" >
                              <div class="col-md-12">
                                <div class="quick-post">
                                  <form role="form" class="form-signin">
                                    <div class="row">
                                      <div class="form-group col-md-8">
                                        <label for="title">Naslov članka</label>
                                        <input id ="title" type="text" placeholder="Naslov članka" required="required" class="form-control" ng-model="article.title"/>
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="category">Kategorija:</label>
                                        <select class="form-control" name="category" id="category" required="required" ng-model="article.category" ng-options="category.name for category in categories">
                                        </select>
                                      </div>
                                      <div class="form-group col-md-12">
                                        <label for="topic-content">Tekst članka</label>
                                        <textarea id="topic-content" placeholder="Unesi tekst članka" rows="2" required="required" class="form-control" ng-model="article.text"></textarea>
                                      </div>
                                      <div class="form-group col-md-12 input-group" style="padding: 0 15px;">
                                        <span class="input-group-addon" id="attachment"><i class="fa fa-paperclip"></i></span>
                                        <input id="image-url" placeholder="Insert Image URL" type="text" class="form-control" ng-model="article.image" aria-describedby="attachment"
                                               data-toggle="popover" data-placement="bottom" data-content="Image URL is invalid. Check your URL and try again."/>
                                      </div>
                                    </div>
                                    <div class="form-bottom">
                                      <button type="submit" class="btn-red" ng-click="addPost(article)">Pošalji članak</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--ADD ARTICLE END-->

                  <!-- ARTICLE CONTENT -->
                  <div id="article-{{article.id}}" class="comment clearfix" ng-repeat="article in articles" style="margin-top: 5%;">
                    <div class="comment-user">
                      <div class="user-img">
                        <img src="img/post-test-3.jpg" alt="Profile image" class="img-responsive"/>
                      </div>
                      <div class="info">
                        <h5>{{article.category.name}}</h5>
                        <span title="{{article.wholeTime}}">{{article.timestamp}}</span>
                        <h4 ng-show="!article.editing">
                          <a href="/articles/{{article.id}}" >{{article.title}}</a>
                        </h4>
                        <p ng-show="article.editing">
                          <input type="text" placeholder="Naslov članka" required="required" class="form-control" ng-model="article.title"/>

                        </p>
                      </div>
                    </div>
                    <div class="comment-content" style="width: 100%;">
                      <p ng-show="!article.editing">
                        <img ng-if="article.image" src="{{article.image}}" alt="article.image"/>
                        <br/>
                        {{article.text}}
                      </p>
                      <p ng-show="article.editing">
                        <textarea placeholder="Tekst članka" rows="2" required="required" class="form-control" ng-model="article.text"></textarea>
                        <input id="image-url" placeholder="Insert Image URL" type="text" class="form-control" ng-model="article.image" aria-describedby="attachment"
                               data-toggle="popover" data-placement="bottom" data-content="Image URL is invalid. Check your URL and try again."/>
                      </p>
                      <div class="social-networks clearfix">
                        <div class="left">
                          <a href="" ng-click="deletePost(article)" class="btn-dark">
                            <i class="fa fa-trash-o"></i> Obriši</a>
                          <a href="" ng-if="!article.editing" ng-click="article.editing=true" class="btn-red">
                            <span><i class="fa fa-pencil-square-o"></i> Izmeni</span>
                          </a>
                          <a href="" ng-if="article.editing" ng-click="updateArticle(article)" class="btn-red">
                            <span><i class="fa fa-floppy-o"></i> Sačuvaj</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ARTICLES CONTENT END -->

                </div>
                <!-- END ARTICLES TAB-->


                <!--QUESTIONS TAB-->
                <div role="tabpanel" id="profile-tab-pitanja" class="tab-pane">
                  <div class="comment clearfix col-md-12" ng-repeat="question in questions.slice(0, questionNum)">
                    {{question.account.image}}
                    <div class="col-md-9">
                      <div class="comment-user">
                        <div class="user-img">
                          <img ng-if="!question.account.image" src="img/post-test-2.jpg" alt="Profile image" class="img-responsive"/>
                          <img ng-if="question.account.image" ng-src="question.account.image" alt="Profile image" class="img-responsive"/>
                        </div>
                        <div class="info">
                          <h5>
                            <a href="/user/{{question.account.id}}">{{question.account.username}}</a>
                          </h5>
                          <h5>{{question.category.name}}</h5>
                          <span title="{{question.wholeTime}}">{{question.timestamp}}</span>
                        </div>
                      </div>
                      <div class="comment-content" style="width: 100%;">
                        <h4><a href="/question/{{question.id}}">{{question.title}}</a></h4>

                        <p ng-bind-html="question.text | emoticons">{{question.text}}</p>
                        <div class="social-networks clearfix">
                          <div class="left">
                            <a href="" ng-click="deletePost(question)" class="btn-red">
                              <i class="fa fa-trash-o"></i>Delete Question</a>
                            <a href="" ng-click="deleteAccount(question.account)" class="btn-dark">
                              <i class="fa fa-trash-o"></i>Remove User</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <span>Daily posts:</span>
                      <h5>
                        <span ng-if="!question.sponsored || question.sponsored.indexOf(1) < 0" ng-click="sponsoredPost(1, question.id)" class="label label-default sponsoredNumber">1</span>
                        <span ng-if="question.sponsored.indexOf(1) > -1" class="label label-success sponsoredNumber">1</span>

                        <span ng-if="!question.sponsored || question.sponsored.indexOf(2) < 0" ng-click="sponsoredPost(2, question.id)" class="label label-default sponsoredNumber">2</span>
                        <span ng-if="question.sponsored.indexOf(2) > -1" class="label label-success sponsoredNumber">2</span>

                        <span ng-if="!question.sponsored || question.sponsored.indexOf(3) < 0" ng-click="sponsoredPost(3, question.id)" class="label label-default sponsoredNumber">3</span>
                        <span ng-if="question.sponsored.indexOf(3) > -1" class="label label-success sponsoredNumber">3</span>
                      </h5>
                    </div>
                  </div>
                  <div class="row" ng-show="!hideQuestionLoad">
                    <div class="col-md-12 text-center">
                      <a class="text-center" href="" ng-click="loadMore('question')">LOAD MORE ...</a>
                    </div>
                  </div>
                </div>
                <!--END QUESTIONS TAB-->

                <!--ANSWERS TAB-->
                <div role="tabpanel" id="profile-tab-odgovori" class="tab-pane">
                  <div class="comment clearfix" ng-repeat="answer in answers.slice(0, answerNum)">
                    <div class="comment-user">
                      <div class="user-img">
                        <img ng-if="!answer.account.image" src="img/post-test-2.jpg" alt="Profile image" class="img-responsive"/>
                        <img ng-if="answer.account.image" src="{{answer.account.image}}" alt="Profile image" class="img-responsive"/>
                      </div>
                      <div class="info">
                        <h5>
                          <a href="/#/user-detail/{{answer.account.id}}">{{answer.account.username}}</a>
                        </h5>
                        <span title="{{answer.wholeTime}}">{{answer.timestamp}}</span>
                      </div>
                    </div>
                    <div class="comment-content" style="width: 100%;">
                      <h4><a href="/#/question/{{answer.question[0].id}}">{{answer.question[0].title}}</a></h4>
                      <p ng-bind-html="answer.text | emoticons">{{answer.text}}</p>
                      <div class="social-networks clearfix">
                        <div class="left">
                          <a href="" ng-click="deletePost(answer)" class="btn-red">
                            <i class="fa fa-trash-o"></i>Delete Answer</a>
                          <a href="" ng-click="deleteAccount(answer.account)" class="btn-dark">
                            <i class="fa fa-trash-o"></i>Remove User</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" ng-show="!hideAnswerLoad">
                    <div class="col-md-12 text-center">
                      <a class="text-center" href="" ng-click="loadMore('answer')">LOAD MORE ...</a>
                    </div>
                  </div>
                </div>
                <!--END ANSWERS TAB-->

                <!-- COMMENTS TAB -->
                <div role="tabpanel" id="profile-tab-komentari" class="tab-pane">
                  <div class="comment clearfix" ng-repeat="comment in comments.slice(0, commentNum)">
                    <div class="comment-user">
                      <div class="user-img">
                        <img ng-if="!comment.account.image" src="img/post-test-2.jpg" alt="Profile image" class="img-responsive"/>
                        <img ng-if="comment.account.image" src="{{comment.account.image}}" alt="Profile image" class="img-responsive"/>
                      </div>
                      <div class="info">
                        <h5>
                          <a href="/#/user-detail/{{comment.account.id}}">{{comment.account.username}}</a>
                        </h5>
                        <span title="{{comment.wholeTime}}">{{comment.timestamp}}</span>
                      </div>
                    </div>
                    <div class="comment-content" style="width: 100%;">
                      <h4><a href="/#/question/{{comment.answer[0].question[0].id}}">{{comment.answer[0].question[0].title}}</a></h4>
                      <p ng-bind-html="comment.text | emoticons">{{comment.text}}</p>
                      <div class="social-networks clearfix">
                        <div class="left">
                          <a href="" ng-click="deletePost(comment)" class="btn-red">
                            <i class="fa fa-trash-o"></i>Delete Comment</a>
                          <a href="" ng-click="deleteAccount(comment.account)" class="btn-dark">
                            <i class="fa fa-trash-o"></i>Remove User</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" ng-show="!hideCommentLoad">
                    <div class="col-md-12 text-center">
                      <a class="text-center" href="" ng-click="loadMore('comment')">LOAD MORE ...</a>
                    </div>
                  </div>
                </div>
                <!--END COMMENTS TAB-->

                <!-- CATEGORIES TAB-->
                <div role="tabpanel" id="profile-tab-kategorije" class="tab-pane">
                  <!-- ADD CATEGORY -->
                  <div class="container" style="margin-top: 3%;">
                    <div class="row">
                      <button class="btn-primary" type="button" data-toggle="collapse" data-target="#addCategory" aria-expanded="false" aria-controls="addCategory">
                        <i class="fa fa-plus"></i> Add Category
                      </button>
                    </div>
                  </div>
                  <div class="collapse" id="addCategory">
                    <div class="content well">
                      <div class="row">
                        <div class="col-md-12">
                          <form role="form" class="form-signin">
                            <div class="form-group">
                              <div class="form-group col-md-12">
                                <label for="topic-content">Add New Category</label>
                                <input id ="title" type="text" placeholder="Category Title" required="required" class="form-control" ng-model="newCategory.name"/>
                              </div>
                              <div class="form-group col-md-12">
                                <textarea id="topic-content" placeholder="About Category" rows="3" required="required" class="form-control" ng-model="newCategory.about"></textarea>
                              </div>
                            </div>
                            <hr class="form-devider"/>
                            <button type="submit" class="btn-dark pull-right" ng-click="addCategory(newCategory)">Add Category</button>
                          </form>
                          <div class="alert alert-danger" role="alert" ng-show="message" style="text-transform: uppercase;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{message}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--ADD CATEGORY END-->

                  <!-- CATEGORY CONTENT -->
                  <div id="category-{{category.id}}" class="comment clearfix" ng-repeat="category in categories" style="margin-top: 5%;">
                    <div class="comment-user">
                      <div class="user-img">
                        <img src="img/post-test-3.jpg" alt="Profile image" class="img-responsive"/>
                      </div>
                      <div class="info">
                        <h4 ng-show="!category.editing">
                          <a href="/#/category/{{category.id}}">{{category.name}}</a>
                        </h4>
                        <p ng-show="category.editing">
                          <input type="text" placeholder="Category Title" required="required" class="form-control" ng-model="category.name"/>
                        </p>
                      </div>
                    </div>
                    <div class="comment-content" style="width: 100%;">
                      <p ng-show="!category.editing">{{category.about}}</p>
                      <p ng-show="category.editing">
                        <textarea type="text" placeholder="About Category" rows="2" required="required" class="form-control" ng-model="category.about"></textarea>
                      </p>
                      <div class="social-networks clearfix">
                        <div class="left">
                          <a href="" ng-click="deleteCategory(category)" class="btn-dark">
                            <i class="fa fa-trash-o"></i>Delete</a>
                          <a href="" ng-if="!category.editing" ng-click="category.editing=true" class="btn-red">
                            <span><i class="fa fa-pencil-square-o"></i> Edit</span>
                          </a>
                          <a href="" ng-if="category.editing" ng-click="updateCategory(category)" class="btn-red">
                            <span><i class="fa fa-floppy-o"></i> Save</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- CATEGORY CONTENT END -->
                </div>
                <!-- END CATEGORIES TAB-->

                <!-- USERS TAB -->
                <div role="tabpanel" id="profile-tab-korisnici" class="tab-pane">
                  <div class="row" style="margin-bottom: 2%;">
                    <div class="col-md-12">
                      <div class="left col-md-8">
                        <!--A B C D E F G H I J K L M N O P Q R S T U V W X Y Z-->
                      </div>
                      <div class="right col-md-4">
                        <label for="search">Search User: </label>
                        <input id="search" type="text" placeholder="" ng-model="searchUser"/>
                      </div>
                    </div>
                  </div>
                  <div class="comment clearfix" ng-repeat="account in accounts | filter:searchUser">
                    <div class="comment-user">
                      <div class="user-img">
                        <img ng-if="!account.image" src="img/post-test-2.jpg" alt="Profile image" class="img-responsive"/>
                        <img ng-if="account.image" src="{{account.image}}" alt="Profile image" class="img-responsive"/>
                      </div>
                      <div class="info">
                        <h4>
                          <a href="/#/user-detail/{{account.id}}">{{account.username}}</a>
                        </h4>
                        <span>{{account.email}}</span>
                      </div>
                    </div>
                    <div class="comment-content" style="width: 100%;">
                      <p>{{account.about}}</p>
                      <div class="social-networks clearfix">
                        <div class="left">
                          <a href="" ng-click="deleteAccount(account)" class="btn-dark">
                            <i class="fa fa-trash-o"></i>Remove User</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- USERS TAB END -->
            </div>





          </div>
        </div>
      </div>
    </div>




  </div>
</div>


<script src="js/timeago.js"></script>
<script src="vendor/jquery/dist/jquery.js"></script>

<!--Emoticons-->
<script src="js/jquery.cssemoticons.js"></script>

<script src="js/functions.js" type="text/javascript"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/functions.js" type="text/javascript"></script>



<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="vendor/angular-sanitize.js"></script>
<script src="js/ng-emoticons.js"></script>

<script src="vendor/angular-resource/angular-resource.js"></script>
<script src="vendor/angular-animate/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<!--<script src="vendor/angular-isotope/angular-isotope.js"></script>-->


<script src="js/services/lb-services.js"></script>
<script src="js/controllers/AdminCtrl.js"></script>
<script src="js/services/countryService.js"></script>
<script src="js/services/AuthService.js"></script>
<script src="js/services/dateServices.js"></script>
<script src="js/services/detailsService.js"></script>
<script src="js/controllers/MainCtrl.js"></script>
<script src="js/controllers/HeaderCtrl.js"></script>
<script src="js/controllers/FooterCtrl.js"></script>
<script src="js/controllers/HomeCtrl.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>
<script src="js/controllers/QuestionCtrl.js"></script>
<script src="js/controllers/ArticleCtrl.js"></script>
<script src="js/controllers/ArticleListCtrl.js"></script>
<script src="js/controllers/CategoryCtrl.js"></script>
<script src="js/controllers/RegistrationCtrl.js"></script>
<script src="js/controllers/ProfileCtrl.js"></script>
<script src="js/controllers/UserCtrl.js"></script>
<script src="js/controllers/AskQuestion.js"></script>
<script src="js/controllers/EditProfileCtrl.js"></script>
<script src="js/controllers/ForgotPassCtrl.js"></script>
<script src="js/controllers/ResetPassCtrl.js"></script>
<script src="js/controllers/SidebarCtrl.js"></script>


</body>
</html>
