<div id="contenr-wrap">
  <header>
    <div class="row">
      <div class="container">
        <div id="main-nav" role="navigation" class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="img/logo.png" alt="Logo" class="img-responsive"/></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/#/">Homepage</a></li>
              <li><a href="/#/ask-question">Ask Question</a></li>
              <li><a href="/#/">Style page</a></li>
              <li ng-show="logged"><a href="/#/my-profile">Profile page</a></li>
              <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">User Help <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li ng-show="!logged"><a href="/#/login">Login</a></li>
                  <li ng-show="logged"><a href="/#/login" ng-click="logout()">Logout</a></li>
                  <li><a href="/#/registration">Registration</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">More options</li>
                  <li><a href="#">Forgot password</a></li>
                </ul>
              </li>
              <li>
                <form action="" class="navbar-form navbar-right search-form">
                  <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input id="search" type="text" name="search" placeholder="Search" class="form-control"/><span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="container">
    <div class="row">
      <form role="form" class="form-signin">
        <div class="col-md-9">
          <div class="content">
            <div class="row">
              <div class="col-md-8">
                <h1>Ask Question</h1>
                <div id="errorMessage" class="alert alert-danger" role="alert" ng-show="error">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{errorMessage}}
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input id="title" type="text" placeholder="Title" required="required" class="form-control" ng-model="question.title"/>
                </div>
                <div class="form-group">
                  <label for="text">Text</label>
                  <input id="text" type="text" placeholder="Write Question" required="required" class="form-control" ng-model="question.text"/>
                </div>

              </div>
              <div class="col-md-12 container">
                <div class="form-group row">
                  <label for="category_box" class="col-md-12">Category</label>
                  <div id="category_box" class="col-md-4">
                    <select class="form-control" name="category" id="category" ng-model="question.category" ng-options="category.name for category in categories">
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="form-bottom">
                    <label class="checkbox">
                      <input ng-model="question.isAnonymous" type="checkbox"/> Ask Question as Anonymous
                    </label>
                    <button type="submit" class="btn-red" ng-click="sendQuestion(question)">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <aside class="main-sidebar col-md-3">
        <article>
          <h4> <a href="#">Top posts</a></h4>
          <ul>
            <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
            <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
            <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
            <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
            <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
            <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
          </ul>
        </article>
        <article class="most-loved">
          <h4> <a href="#">Most loved</a></h4>
          <ul>
            <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
            <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
            <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
          </ul>
        </article>
      </aside>
    </div>
  </section>
  </div>


