<div id="content-wrap">
<section class="container">
  <div class="row">
    <div class="main-content col-md-9">
      <div class="category-header clearfix">
        <div class="top">
          <h3 class="pull-left">{{cat.name}}</h3>
          <a class="pull-right btn-red" ng-if="!interest" ng-click="likeCategory();">Follow</a>
          <a class="pull-right btn-blue" ng-if="interest" ng-click="dislikeCategory();">Unfollow</a>
        </div>
        <p>{{cat.about}}</p>
      </div>
      <div class="grid posts">
        <div class="grid-item" ng-repeat="question in questions" on-last-repeat>
          <article>
            <a href="/#/question/{{question.id}}">
              <img src="img/post-test-6.jpg" alt="Alt tekst za sliku" class="img-responsive"/>
            </a>
            <div class="post-content clearfix {{question.gender}}-post">
              <h1>
                <a href="/#/user-detail/{{question.accountId}}">{{question.account.username}}</a>
                <span>{{question.timestamp}}</span>
              </h1>
              <h2><a href="/#/question/{{question.id}}">{{question.title}}</a></h2>
              <h3><a href="/#/category/{{question.category.id}}">{{question.category.name}}</a></h3>
              <p>{{question.text}}</p>
              <div class="stats">
                <div class="girls"><i class="fa fa-female"> </i>{{question.ans_female}}</div>
                <div class="boys"><i class="fa fa-male"></i>{{question.ans_male}}</div>
                <div class="girls"><i class="fa fa-thumbs-o-up"></i>{{question.likeCount.likeNum}}</div>
                <div class="girls"><i class="fa fa-thumbs-o-down"></i>{{question.dislikeCount.dislikeNum}}</div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <aside class="main-sidebar col-md-3" ui-view="sidebar"></aside>

  </div>
</section>


</div>
