<div id="contenr-wrap">
  <header>
    <div class="row">
      <div class="container">
        <div id="main-nav" role="navigation" class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="img/logo.png" alt="Logo" class="img-responsive"/></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/#/">Homepage</a></li>
              <li><a href="/#/ask-question">Ask Question</a></li>
              <li><a href="/#/">Style page</a></li>
              <li ng-show="logged"><a href="/#/myProfile">Profile page</a></li>
              <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">User Help <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li ng-show="!logged"><a href="/#/login">Login</a></li>
                  <li ng-show="logged"><a href="/#/login" ng-click="logout()">Logout</a></li>
                  <li><a href="/#/registration">Registration</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">More options</li>
                  <li><a href="#">Forgot password</a></li>
                </ul>
              </li>
              <li>
                <form action="" class="navbar-form navbar-right search-form">
                  <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input id="search" type="text" name="search" placeholder="Search" class="form-control"/><span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">
  <div class="row">
    <form role="form" class="form-signin">
      <div class="col-md-9">
        <div class="content">
          <div class="row">
            <div class="col-md-8">

              <h1>Registration</h1>
              <div id="errorMessage" class="alert alert-danger" role="alert" ng-show="error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{errorMessage}}
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" type="email" placeholder="Email address" required="" class="form-control" ng-model="account.email" disabled/>
              </div>
              <div class="form-group">
                <label for="uname">Username</label>
                <input id="uname" type="text" placeholder="Username" required="required" class="form-control" ng-model="account.username"/>
              </div>
              <div class="form-group">
                <label for="image">Image URL</label>
                <input id="image" type="url" placeholder="Image URL" class="form-control" ng-model="account.image"/>
              </div>

            </div>
            <div class="col-md-12 container">
              <hr class="form-devider"/>
              <div class="form-group">
                <label for="about">About Me</label>
                <textarea id="about" type="text" placeholder="Something About Me" rows="3" required="" class="form-control" ng-model="account.about"></textarea>
              </div>
              <div class="form-group">
                <label for="personality">My Personality</label>
                <textarea id="personality" type="text" placeholder="Something About Me" rows="2" required="" class="form-control" ng-model="account.personality"></textarea>
              </div>
              <div class="form-group row">
                <label for="country_box" class="col-md-12">Country</label>
                <div id="country_box" class="col-md-4">
                  <select class="form-control" name="country" id="country" ng-model="account.country" >
                    <option ng-value="country.name" ng-repeat="country in countries">{{country.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="relationship_box" class="col-md-12">Relationship</label>
                <div id="relationship_box" class="col-md-4">
                  <select class="form-control" name="relationship" id="relationship" ng-model="account.relationship" >
                    <option ng-value="relationship.name" ng-repeat="relationship in relationships">{{relationship.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="occupation_box" class="col-md-12">Occupation</label>
                <div id="occupation_box" class="col-md-4">
                  <select class="form-control" name="occupation" id="occupation" ng-model="account.occupation" >
                    <option ng-value="occupation.name" ng-repeat="occupation in occupations">{{occupation.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <hr class="form-devider"/>
              <div class="form-group">
                <div class="row">
                  <label for="day" class="col-md-12">Date of birth:</label>
                  <div class="col-md-4">
                    <select id="day" name="day" class="form-control" ng-model="account.day">
                      <option ng-value="day.name" ng-repeat="day in days">{{day.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="month" class="form-control" ng-model="account.month" >
                      <option ng-value="month.name" ng-repeat="month in months">{{month.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="year" class="form-control" ng-model="account.year">
                      <option ng-value="year.name" ng-repeat="year in years">{{year.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="gender">Choose gender</label>
                <div id="gender" class="radio" ng-model="account.sex">
                  <label class="radio-inline" ng-repeat="s in sex">
                    <input type="radio" name="gender" value="{{s.name}}" ng-model="account.sex"/>{{s.name}}
                  </label>
                </div>
                <hr class="form-devider"/>
                <div class="form-bottom">
                  <label class="checkbox">
                    <!--<input type="checkbox" value="remember-me"/> I agree to<a href="#">Terms &amp; Conditions</a>-->
                  </label>
                  <button type="submit" class="btn-red" ng-click="editAccountount(account)">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

</div>
