<div class="container">
  <div class="row">
    <form role="form" class="form-signin">
      <div class="col-md-12">
        <div class="content">
          <div class="row">
            <div class="col-md-12">

              <h1>Edit profile</h1>
              <div id="errorMessage" class="alert alert-danger" role="alert" ng-show="error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{errorMessage}}
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" type="email" placeholder="Email address" required="" class="form-control" ng-model="account.email" disabled/>
              </div>
              <div class="form-group">
                <label for="uname">Username</label>
                <input id="uname" type="text" placeholder="Username" required="required" class="form-control" ng-model="account.username"/>
              </div>
              <div class="form-group">
                <label for="image">Image URL</label>
                <input id="image" type="url" placeholder="Image URL" class="form-control" ng-model="account.image"/>
              </div>

            </div>
            <div class="col-md-12 container">
              <hr class="form-devider"/>
              <div class="form-group">
                <label for="about">About Me</label>
                <textarea id="about" type="text" placeholder="Something About Me" rows="3" required="" class="form-control" ng-model="account.about"></textarea>
              </div>
              <div class="form-group">
                <label for="personality">My Personality</label>
                <textarea id="personality" type="text" placeholder="Something About Me" rows="2" required="" class="form-control" ng-model="account.personality"></textarea>
              </div>
              <div class="form-group row">
                <label for="country_box" class="col-md-12">Country</label>
                <div id="country_box" class="col-md-4">
                  <select class="form-control" name="country" id="country" ng-model="account.country" >
                    <option ng-value="country.name" ng-repeat="country in countries">{{country.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="relationship_box" class="col-md-12">Relationship</label>
                <div id="relationship_box" class="col-md-4">
                  <select class="form-control" name="relationship" id="relationship" ng-model="account.relationship" >
                    <option ng-value="relationship.name" ng-repeat="relationship in relationships">{{relationship.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="occupation_box" class="col-md-12">Occupation</label>
                <div id="occupation_box" class="col-md-4">
                  <select class="form-control" name="occupation" id="occupation" ng-model="account.occupation" >
                    <option ng-value="occupation.name" ng-repeat="occupation in occupations">{{occupation.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <hr class="form-devider"/>
              <div class="form-group">
                <div class="row">
                  <label for="day" class="col-md-12">Date of birth:</label>
                  <div class="col-md-4">
                    <select id="day" name="day" class="form-control" ng-model="account.day">
                      <option ng-value="day.name" ng-repeat="day in days">{{day.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="month" class="form-control" ng-model="account.month" >
                      <option ng-value="month.name" ng-repeat="month in months">{{month.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="year" class="form-control" ng-model="account.year">
                      <option ng-value="year.name" ng-repeat="year in years">{{year.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="gender">Choose gender</label>
                <div id="gender" class="radio" ng-model="account.sex">
                  <label class="radio-inline" ng-repeat="s in sex">
                    <input type="radio" name="gender" value="{{s.name}}" ng-model="account.sex"/>{{s.name}}
                  </label>
                </div>
                <label for="category">Follow category</label>
                <div id="category">
                  <a href="" ng-repeat="category in categories"  ng-click="followUnfollow(category)">
                    <span class="category label label-{{category.inter}} col-md-3"
                          style="margin: 0.8% 2%;">
                      {{category.name}}
                    </span>
                  </a>
                </div>
                <hr class="form-devider"/>
                <div class="form-bottom">
                  <button type="submit" class="btn-red" ng-click="editAccount(account)">Save changes</button>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn-primary" data-toggle="modal" data-target="#passForm">
                    Change password
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- Modal Pass Form -->
<div class="modal fade" id="passForm" tabindex="-1" role="dialog" aria-labelledby="passFormLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="passFormLabel">Change password</h4>
      </div>
      <div class="modal-body">
        <div>
          <label for="current_password">Current password:</label>
          <input type="password" ng-model="passwords.currentPassword" id="current_password" class="form-control">
        </div>
        <div>
          <label for="password">New password:</label>
          <input type="password" ng-model="passwords.newPassword" id="password" class="form-control">
        </div>
        <div>
          <label for="confirmation">Confirm new password:</label>
          <input type="password" ng-model="passwords.confirmation" id="confirmation" class="form-control">
        </div>
        <br/>
        <div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-default" data-dismiss="modal" ng-show="!resetLoading">Close</button>
          <button type="button" class="btn-primary" ng-click="resetPassword(passwords);" ng-show="!resetLoading">Reset password</button>
          <div ng-show="resetLoading" class="sp sp-circle" ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal response message -->
<div class="modal fade" id="responseMsg" tabindex="-1" role="dialog" aria-labelledby="responseMsgTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="responseMsgContent"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<style>

  .sp {
    margin: 0 auto;
    width: 2em;
    height: 2em;
  }

  /* Spinner Circle Rotation */
  .sp-circle {
    border: 4px rgba(255, 255, 255, 0.25) solid;
    border-top: 4px black solid;
    border-radius: 50%;
    -webkit-animation: spCircRot .6s infinite linear;
    animation: spCircRot .6s infinite linear;
  }

  @-webkit-keyframes spCircRot {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  @keyframes spCircRot {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

</style>
