<section class="container">
  <div class="row">
    <div class="content col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="quick-post">
            <form role="form" class="form-signin">
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="title">Question title</label>
                  <input id ="title" type="text" placeholder="Question title" required="required" class="form-control" ng-model="question.title"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="category">Choose category:</label>
                  <select class="form-control" name="category" id="category" required="required" ng-model="question.category" ng-options="category.name for category in categories">
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label for="topic-content">Question content</label>
                  <textarea id="topic-content" placeholder="Enter Question content" rows="3" required="required" class="form-control" ng-model="question.text"></textarea>
                </div>
              </div>
              <div>
                <label>
                  <input type="radio" name="opinionFrom" value="1" ng-model="question.opinionFrom"/>Male
                  <input type="radio" name="opinionFrom" value="2" ng-model="question.opinionFrom"/>Female
                  <input type="radio" name="opinionFrom" value="3" ng-model="question.opinionFrom"/>Both
                </label>
              </div>
              <div class="form-bottom">
                <label class="checkbox">
                  <input ng-model="question.isAnonymous" type="checkbox"/> Ask Question as Anonymous
                </label>
                <button type="submit" class="btn-red" ng-click="sendQuestion(question)">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="grid posts"  id="grid-posts">
        <div class="grid-item col-md-3" ng-repeat="question in questions">
          <article><a href="#"><img src="img/post-test-1.jpg" alt="Test image 1" class="img-responsive"/></a>
            <!--TODO ako je musko onda je boy-post a ako je zensko onda girl-post-->
            <div class="post-content clearfix {{question.gender}}-post">
              <h1>
                <a ng-show="{{question.isAnonymous}}">Anonymous</a>
                <a href="/#/user-detail/{{question.accountId}}" ng-show="{{!question.isAnonymous}}">{{question.account.username}}</a>
                <span>{{question.timestamp}}</span>
                {{question.category.name}}</h1>

              <h3><a href="/#/question/{{question.id}}">{{question.title}}</a></h3>
              <h2>{{question.text}}</h2>
              <div class="stats">
                <div>Answers: {{question.answers.count}}</div>
                <div class="favs"><span class="glyphicon glyphicon-heart"></span>213</div>
                <div class="boys"><span class="glyphicon glyphicon-heart"></span>42</div>
                <div class="girls"><span class="glyphicon glyphicon-heart"></span>21</div>
              </div>
              <div>
                <h1>
                  <span>Question for:
                    <span ng-show="question.opinionFrom == 1">boys</span>
                    <span ng-show="question.opinionFrom == 2">girls</span>
                    <span ng-show="question.opinionFrom == 3 || question.opinionFrom == undefined">boys and girls</span>
                  </span>
                </h1>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <aside class="main-sidebar col-md-3">
      <article>
        <h4> <a href="#">Categories</a></h4>
        <ul ng-repeat="category in categories">
          <li><a href="/#/category/{{category.id}}">{{category.name}} ({{category.count.count}})</a></li>
        </ul>
      </article>
    </aside>
  </div>
</section>
