
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <form role="form" class="form-signin" ng-submit="login_fn();">
              <h1>Login</h1>
              <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" placeholder="Username" required="" class="form-control" ng-model="username"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password" required="required" class="form-control" ng-model="password"/>
              </div>
              <a href="/#/forgot-password">Forgot password?</a>
              <hr class="form-devider"/>
              <div class="form-bottom">
                <label class="checkbox">
                  <input type="checkbox" value="remember-me" checked="checked" ng-model="check"/> Remember me
                </label>
                <button type="submit" value="Log in" class="btn btn-red" ng-click="login_fn();">Log in</button>
              </div>
            </form>

            <br/>
            <div class="alert alert-danger" role="alert" ng-show="message" style="text-transform: uppercase;">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{message}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside class="main-sidebar col-md-3">
      <article>
        <h4> <a href="#">Top posts</a></h4>
        <ul>
          <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
          <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
          <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
          <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
          <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
          <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
        </ul>
      </article>
      <article class="most-loved">
        <h4> <a href="#">Most loved</a></h4>
        <ul>
          <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
          <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
          <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
        </ul>
      </article>
    </aside>
  </div>
</section>
