<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!--QUESTION IMAGE-->
      <div class="row">
        <div class="col-md-12 post-img"><a href=""><img src="img/big-post-img.jpg" alt="Category image" class="img-responsive"/></a></div>
      </div>
      <!--QUESTION CONTENT-->
      <div class="post-detail-content {{question.gender}}-post">
        <!--USER DETAILS-->
        <div class="row">
          <div class="col-md-12 post-user">
            <div class="username-wrap">
              <a href="/#/user-detail/{{question.accountId}}" class="user-thumb">
                <img src="img/post-test-1.jpg" alt="Profile image" class="img-responsive"/>
              </a>
              <a href="/#/user-detail/{{question.accountId}}">{{question.account.username}}</a>
            </div>
            <span title="{{question.wholeTime}}">{{question.timestamp}}</span>
          </div>
        </div>
        <!--END USER DETAILS-->
        <!--LIKES AND DISLIKES COUNT-->
        <div class="row">
          <div class="col-md-12 post-title">
            <h1>{{question.title}}</h1>
            <h2><a href="/#/category/{{question.category.id}}">{{question.category.name}}</a></h2>
            <div class="stats">
              <div class="girls"><i class="fa fa-female"> </i>{{question.ans_female}}</div>
              <div class="boys"><i class="fa fa-male"></i>{{question.ans_male}}</div>
              <div class="likes"><i class="fa fa-thumbs-up"></i>{{likeCount.likeNum}}</div>
              <div class="dislikes"><i class="fa fa-thumbs-down"></i>{{dislikeCount.dislikeNum}}</div>
            </div>
          </div>
        </div>
        <!--LIKES AND DISLIKES COUNT END-->
        <!--QUESTION CONTENT-->
        <div class="row">
          <div ng-show="!editing" class="col-md-12 post-description">
            {{question.text}}
          </div>
          <div ng-show="editing" >
            <textarea type="text" placeholder="Enter Comment content" rows="2" required="required" class="form-control" ng-model="question.text"></textarea>
          </div>
        </div>
        <!--CONTENT END-->
        <div class="social-networks clearfix">
          <!--CONTENT MANAGE-->
          <div class="left">
            <a href="" ng-show="!question.isLiked" ng-click="likeQuestion();" class="btn-red">
              <i class="fa fa-thumbs-o-up"></i>Like</a>
            <a href="" ng-show="question.isLiked" ng-click="unlikeQuestion();" class="btn-red">
              <i class="fa fa-thumbs-o-up"></i>Unike</a>
            <a href="" ng-show="!question.isDisliked" ng-click="dislikeQuestion();" class="btn-dark">
              <i class="fa fa-thumbs-o-down"></i>Dislike</a>
            <a href="" ng-show="question.isDisliked" ng-click="undislikeQuestion();" class="btn-dark">
              <i class="fa fa-thumbs-o-down"></i>Undislike</a>
            <button class="btn btn-default btn-sm" ng-show="question.owner" ng-click="deleteQuestion()"><i class="fa fa-trash-o"></i> delete</button>
            <button class="btn btn-default btn-sm" ng-show="!editing && question.owner" ng-click="editing=true"><i class="fa fa-pencil-square-o"></i> edit</button>
            <button class="btn btn-default btn-sm" ng-show="editing && question.owner" ng-click="updateQuestion(question)"><i class="fa fa-floppy-o"></i> save</button>
          </div>
          <!--CONTENT MANAGE END-->
          <!--SOCIAL-->
          <div class="right">
            <h5>Podeli na:</h5>
            <ul class="clearfix">
              <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
              <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
              <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
              <li><a href=""><i class="fa fa-youtube-square"></i></a></li>
              <li><a href=""><i class="fa fa-behance-square"></i></a></li>
              <li><a href=""><i class="fa fa-envelope-square"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
          <!--SOCIAL END-->
        </div>
      </div>
      <!--POST ANSWER-->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <form role="form" class="form-signin">
              <h1 class="form-signin-heading">Leave an answer</h1>
              <div class="form-group">
                <label for="topic-content">Answer</label>
                <textarea id="topic-content" placeholder="Enter Answer here" rows="3" required="required" class="form-control" ng-model="answer.text"></textarea>
              </div>
              <hr class="form-devider"/>
              <label class="checkbox col-md-6">
                <input ng-model="answer.isAnonymous" type="checkbox"/> Send Answer as Anonymous
              </label>
              <button type="submit" class="btn-dark pull-right" ng-click="sendAnswer(answer)">Leave an answer</button>
            </form>
            <div class="alert alert-danger" role="alert" ng-show="message" style="text-transform: uppercase;">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{message}}
            </div>
          </div>
        </div>
      </div>
      <!--POST ANSWER END-->

      <!-- **** ANSWERS **** -->
      <div class="content" ng-show="question.answers.length">
        <div class="row">
          <div class="col-md-12">
            <!--ANSWER ITEM-->
            <div class="comment clearfix" ng-repeat="answer in question.answers">
              <!--ANSWER USER INFO-->
              <div class="comment-user">
                <div class="user-img"><img src="img/post-test-2.jpg" alt="Profile image" class="img-responsive"/></div>
                <div class="info">
                  <h5><a href="/#/user-detail/{{answer.account.id}}">{{answer.account.username}}</a></h5><span title="{{answer.wholeTime}}">{{answer.timestamp}}</span>
                </div>
              </div>
              <!--ANSWER USER INFO END-->
              <div class="comment-content" style="width: 100%;">
                <div class="description">
                  <p ng-show="!answer.editing">{{answer.text}}</p>
                  <textarea ng-show="answer.editing" type="text" placeholder="Enter Answer content" rows="2" required="required" class="form-control" ng-model="answer.text"></textarea>
                  <div class="social-networks clearfix">
                    <div class="left">
                      <a href="" ng-show="!answer.liked" ng-click="likeAnswer(answer);" class="btn-red" >
                        <i class="fa fa-thumbs-o-up"></i>Like</a>
                      <a href="" ng-show="answer.liked" ng-click="unlikeAnswer(answer);" class="btn-red" >
                        <i class="fa fa-thumbs-o-up"></i>Unike</a>
                      <button type="button" data-toggle="collapse" data-target="#collapse_{{answer.id}}" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-comment-o"></i> comment
                      </button>
                      <button class="btn btn-default btn-sm" ng-show="answer.owner" ng-click="deleteAnswer(answer);"><i class="fa fa-trash-o"></i> delete</button>
                      <button class="btn btn-default btn-sm" ng-show="!answer.editing && answer.owner" ng-click="answer.editing=true"><i class="fa fa-pencil-square-o"></i> edit</button>
                      <button class="btn btn-default btn-sm" ng-show="answer.editing && answer.owner" ng-click="updateAnswer(answer)"><i class="fa fa-floppy-o"></i> save</button>
                    </div>
                    <div class="right social">
                      <h5>Podeli na:</h5>
                      <ul class="clearfix">
                        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-square"></i></a></li>
                        <li><a href=""><i class="fa fa-behance-square"></i></a></li>
                        <li><a href=""><i class="fa fa-envelope-square"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                      </ul>
                    </div>
                  </div>

                  <!-- **** COMMENTS **** -->
                  <div class="row">
                    <div class="collapse" id="collapse_{{answer.id}}">
                      <div class="well">
                        <div class="comment clearfix" ng-repeat="comment in answer.comments">
                          <div class="comment-user">
                            <div class="user-img"><img src="img/post-test-2.jpg" alt="Profile image" class="img-responsive"/></div>
                            <div class="info">
                              <h5><a href="/#/user-detail/{{comment.account.id}}">{{comment.account.username}}</a></h5><span title="{{answer.wholeTime}}">{{comment.timestamp}}</span>
                            </div>
                          </div>
                          <div class="comment-content" style="width: 100%;">
                            <div class="description">
                              <p ng-show="!comment.editing">{{comment.text}}</p>
                              <textarea ng-show="comment.editing" type="text" rows="2" required="required" class="form-control" ng-model="comment.text"></textarea>
                              <div class="social-networks clearfix">
                                <div class="left">
                                  <button class="btn btn-default btn-sm" ng-show="comment.owner" ng-click="deleteComment(comment, answer);"><i class="fa fa-trash-o"></i> delete</button>
                                  <button class="btn btn-default btn-sm" ng-show="!comment.editing && comment.owner" ng-click="comment.editing=true"><i class="fa fa-pencil-square-o"></i> edit</button>
                                  <button class="btn btn-default btn-sm" ng-show="comment.editing && comment.owner" ng-click="updateComment(comment)"><i class="fa fa-floppy-o"></i> save</button>
                                </div>
                                <div class="right social">
                                  <h5>Podeli na:</h5>
                                  <ul class="clearfix">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--POST COMMENT-->
                        <form action="">
                          <div class="row">
                            <div class="form-group col-md-12">
                              <label for="answer-content">Comment content</label>
                              <textarea id="answer-content" type="text" placeholder="Enter Comment content" rows="2" required="required" class="form-control" ng-model="comment.text"></textarea>
                            </div>
                          </div>
                          <div class="form-bottom">
                            <button type="submit" class="btn-red" ng-click="sendComment(answer, comment)">Send</button>
                          </div>
                        </form>
                        <!--END POST COMMENT-->
                      </div>
                    </div>
                  </div>
                  <!--END COMMENTS-->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END ANSWERS-->
    </div>

    <!--SIDEBAR-->
    <aside class="main-sidebar col-md-3">
      <article>
        <h4> <a href="#">Categories</a></h4>
        <ul>
          <li ng-repeat="category in categories"><a href="/#/category/{{category.id}}">{{category.name}} ({{category.count.count}})</a></li>
        </ul>
      </article>
      <article class="most-loved">
        <h4 style="color: #fff;">Most liked questions:</h4>
        <ul>
          <li ng-repeat="q in mostLiked"><a href="/#/question/{{q.id}}">{{q.title}}</a></li>
        </ul>
      </article>
      <article>
        <h4 style="color:white">Top questions:</h4>
        <ul>
          <li ng-repeat="top in topQuestions"><a href="/#/question/{{top.id}}">{{top.title}}</a></li>
        </ul>
      </article>
    </aside>
    <!--END SIDEBAR-->
  </div>
</div>
