  <div class="container">
    <div class="row"><h4>
      <!--TODO ubaciti i usera za pitanje-->




      Question title: {{question.title}}<br/>
      Question text: {{question.text}}<br/>
      Question timestamp: {{question.timestamp}}<br/>
      Question category: {{question.category.name}}<br/>
      Account username: <a href="/#/user-detail/{{question.accountId}}">{{question.account.username}}</a>

      <p>Likes: <span ng-repeat="acc in question.likes">{{acc.username}}</span> <br/>
        <button ng-click="likeQuestion();">like question</button>
        <button ng-click="dislikeQuestion();">like question</button>
        <button ng-click="deleteQuestion()">delete question</button>
      </p>

      <br/><br/></h4>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <div class="quick-post">
            <form role="form" class="form-signin">
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="topic-content">Answer content</label>
                  <textarea id="topic-content" type="text" placeholder="Enter Answer content" rows="3" required="required" class="form-control" ng-model="answer.text"></textarea>
                </div>
              </div>
              <div class="form-bottom">
                <label class="checkbox">
                  <input ng-model="answer.isAnonymous" type="checkbox"/> Send Answer as Anonymous
                </label>
                <button type="submit" class="btn-red" ng-click="sendAnswer(answer)">Send</button>
              </div>
            </form>
            <br/>
            <div class="alert alert-danger" role="alert" ng-show="message" style="text-transform: uppercase;">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{message}}
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="answer in question.answers">

        Odgovor: {{answer.text}}<br/>
        Account username: {{answer.account.username}}<br/>
        Timestamp: {{answer.timestamp}}<br/>
        Anonymous: {{answer.isAnonymous}}<br/>
        Likes: <span ng-repeat="acc in answer.likes">{{acc.username}} </span> <br/>
        <button ng-click="likeAnswer(answer);">like answer</button>
        <button ng-click="dislikeAnswer(answer)">dislike answer</button>
        <button ng-click="deleteAnswer(answer);">delete answer</button>
        <br/>
        <br/><br/><br/>

        <div class="col-md-10 col-md-offset-1">
        <h5>Comments</h5>
        <div ng-repeat="comment in answer.comments">
          Text: {{comment.text}}<br/>
          Timestamp: {{comment.timestamp}}<br/>
          Account username: <a href="/#/user-detail/{{comment.account.id}}">{{comment.account.username}}</a><br/>
          Likes: <span ng-repeat="acc in comment.likes">{{acc.username}} </span> <br/>
          Dislikes: <span ng-repeat="acc in comment.likes">{{acc.username}} </span> <br/>
          <button ng-click="likeComment(comment);">like comment</button>
          <button ng-click="dislikeComment(comment)">dislike comment</button>
          <button ng-click="deleteComment(comment);">delete comment</button>
          <br/>
          <br/><br/>

        </div>
        <form action="">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="answer-content">Comment content</label>
              <textarea id="answer-content" type="text" placeholder="Enter Comment content" rows="2" required="required" class="form-control" ng-model="comment.text"></textarea>
            </div>
          </div>
          <div class="form-bottom">
            <button type="submit" class="btn-red" ng-click="sendComment(answer, comment)">Send</button>
          </div>
        </form>
        </div>
        <hr/>
        <!--TODO: username, age, timestamp-->
        <!--TODO: like dislike po polu (koliko ima od devojaka koliko od momaka i isto to za dislike)-->
      </div>
    </div>
  </div>
