  <div class="container">
    <div class="row"><h4>
      <!--TODO ubaciti i usera za pitanje-->

      <p>Likes: {{question.likes}}</p>
      <button ng-click="likeQuestion();">like question</button>



      Question title: {{question.title}}<br/>
      Question text: {{question.text}}<br/>
      Question timestamp: {{question.timestamp}}<br/>
      Question category: {{question.category.name}}<br/>
      Account username: <a href="/#/user-detail/{{question.accountId}}">{{question.account.username}}</a>
      <br/><br/></h4>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <div class="quick-post">
            <form role="form" class="form-signin">
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="topic-content">Answer content</label>
                  <textarea id="topic-content" type="text" placeholder="Enter Answer content" rows="3" required="required" class="form-control" ng-model="answer.text"></textarea>
                </div>
              </div>
              <div class="form-bottom">
                <label class="checkbox">
                  <input ng-model="answer.isAnonymous" type="checkbox"/> Send Answer as Anonymous
                </label>
                <button type="submit" class="btn-red" ng-click="sendAnswer(question, answer)">Send</button>
              </div>
            </form>
            <br/>
            <div class="alert alert-danger" role="alert" ng-show="message" style="text-transform: uppercase;">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{message}}
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="answer in question.answer">

        <p>{{answer}}</p>
        Odgovor: {{answer.text}}<br/>
        Account username: {{answer.account.username}}<br/>
        Timestamp: {{answer.timestamp}}<br/>
        Anonymous: {{answer.isAnonymous}}<br/><br/><br/>
        <div class="col-md-10 col-md-offset-1">
        <h5>Comments</h5>
        <div ng-repeat="comment in answer.comment">
          Text: {{comment.text}}<br/>
          Timestamp: {{comment.timestamp}}<br/>
          Account username: <a href="/#/user-detail/:id">{{comment.account.username}}</a><br/><br/><br/>
        </div>
        <form action="">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="answer-content">Comment content</label>
              <textarea id="answer-content" type="text" placeholder="Enter Comment content" rows="2" required="required" class="form-control" ng-model="comment.text"></textarea>
            </div>
          </div>
          <div class="form-bottom">
            <button type="submit" class="btn-red" ng-click="sendComment(answer, comment)">Send</button>
          </div>
        </form>
        </div>
        <hr/>
        <!--TODO: username, age, timestamp-->
        <!--TODO: like dislike po polu (kolikolikova ima od devojaka koliko od momaka i isto to za dislike)-->
      </div>
    </div>
  </div>
