<section class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="content">
        <h1>What's next?</h1>
        <p>
          Check your inbox for an email confirming your account. You must click the link in the email to complete the
          registration process.
        </p>
        <p>
          If you do not receive an email within a few minutes, check your Spam folder to ensure it was not
          incorrectly moved.
        </p>
      </div>
    </div>
    <aside class="main-sidebar col-md-3">
      <article>
        <h4> <a href="#">Top posts</a></h4>
        <ul>
          <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
          <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
          <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
          <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
          <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
          <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
        </ul>
      </article>
      <article class="most-loved">
        <h4> <a href="#">Most loved</a></h4>
        <ul>
          <li><a href="#">Caramels caramels lemon drops liquorice pudding</a></li>
          <li><a href="#">Tart cheesecake danish candy chocolate</a></li>
          <li><a href="#">Toffee lemon drops jujubes jelly  bar liquorice</a></li>
        </ul>
      </article>
    </aside>
  </div>
</section>
