<section class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="content">
        <h1>Reset password</h1>
        <form ng-submit="resetPassword(password, confirm);">

          <div class="form-group">
            <label for="password">New password:</label>
            <input type="password" ng-model="password" name="password" id="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="confirmation">Confirm new password:</label>
            <input type="password" ng-model="confirmation" name="confirmation" id="confirmation" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" value="Reset password">
          </div>

        </form>


        <div class="alert alert-info" role="alert" ng-show="response">
          {{responseMsg}}
          <a href="/#/login" class="btn btn-blue">Login</a>
        </div>

      </div>
    </div>
  </div>
</section>
